a {
  color: #337ab7;
}

body {
  font-family: Roboto, sans-serif;
  /*padding-top: 120px;*/
  font-size: 1rem;
  line-height: 1.5;
  /*font-family: 'Palatino',serif;*/
  /*font-size: 18px;*/
  /*line-height: 30px;*/
}

h1, h2, h3 {
  font-family: Roboto, sans-serif;
  color: #212529;  /* 505160 */
  margin-bottom: 20px;
}

dl, ol, ul {
  margin: 20px;
}

p, ul, ol {
  margin-top: 0px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

hr {
  width: 100%;
}

table {
  margin-top: 0;
  width: 100%;
}

.table td, .table th {
  border: none;
}

/* .table td {
  /* border: none; */
  /* width: 10px; */
/* } */ 
#schedule th.time, #schedule td.time {
  width: 150px;  /* Adjust this value to increase or decrease the width */
}

#papers th.time, #papers td.time {
  width: 200px;  /* Adjust this value to increase or decrease the width */
}

.no-bottom-margin {
  margin-bottom: 0;
}

#navbar {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 0;
  padding-bottom: 0;
  /*position: fixed;*/
}

.navbar-light .navbar-nav .nav-link {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-light .navbar-nav .nav-link a {
  color: #337ab7;
  padding: 0;
  font-size: 18px;
}

.navbar .navbar-nav {
  margin-top: 10px;
}

.navbar-light .navbar-toggler {
  border: none;
}

/* .strike {
  text-decoration: line-through;
} */

#references li {
  font-size: 14px;
}

#references ol {
   padding-left: 5px;
}

#goals-and-outcomes li {
   margin: 10px 0;
}

#goals-and-outcomes ol {
   padding-left: 5px;
}

#goals-and-outcomes ul {
   padding-left: 10px;
}

#organizers ul {
  margin-left: 20px;
}

.speaker-profile {
  float: left;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 15px
}

#pc td {
  padding-right: 3em;
  padding-left: 1em;
}

#program td {
	padding: 10px;
  /* width: 300px; */
}

#content {
  padding-bottom: 60px;
}

.footnote {
  padding: 25px 15px 15px 15px;
  color: #666666;
}

.slp {
  background: #fff;
  padding: 10px;
  border: 4px solid #eee;
  box-shadow: rgb(204, 204, 204) 2px 2px 14px 0px;
  margin-right: 10px;
}

.rocket {
  background: #fff;
  padding: 10px;
  border: 4px solid #eee;
  box-shadow: rgb(204, 204, 204) 2px 2px 14px 0px;
  margin-left: 10px;
}

.paper ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.paper h3 {
  color: #9B4F0F;
}

.col {
  padding: 0;
}

.row {
  margin: 20px;
}

table .time {
  width: 120px;
}

.dot-invited-talk {
  height: 12px;
  width: 12px;
  background-color: #ee1111;
  border-radius: 50%;
  display: inline-block;
}

.dot-panel-discussion {
  height: 12px;
  width: 12px;
  background-color: #2d89ef;
  border-radius: 50%;
  display: inline-block;
}

.dot-lightning-talk {
  height: 12px;
  width: 12px;
  background-color: #00aba9;
  border-radius: 50%;
  display: inline-block;
}

.dot-poster-session {
  height: 12px;
  width: 12px;
  background-color: #ffc40d;
  border-radius: 50%;
  display: inline-block;
}

.dot-other-session {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

:target::before {
  content: "";
  display: block;
  height: 72px; /* fixed header height*/
  margin: -72px 0 0; /* negative fixed header height */
}

@media (min-width: 768px) {
  /* .container {
    width: 900px;
  } */

  #header {
    /* width: 900px; */
    padding: 0px;
  }

  .navbar .navbar-nav {
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.banner {
  position: relative;
  text-align: center;
}

.banner-img {
  width: 90%;
  height: auto;
  display: block; /* Ensures the video covers the full area */
  object-fit: cover; /* Ensures video maintains aspect ratio while covering area */
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4); /*Adds a dark background to the text*/
  color: #FFFFFF; /*Ensuring text is white */
  padding: 5px;
  border-radius: 5px; /* Optional: adds rounded corners to the text background */
  font-size: 1.5em; /* Adjust based on your design */
  font-weight: bold; /* Makes the font bolder */
  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); Adds a shadow to the text */
  max-width: 90%; /* Ensures text block doesn't span the full width of the image */
  max-height: 100%;
  box-sizing: border-box;
  font-size: 1.8vw;
  display: block;
}

.banner-text h1,
.banner-text h2,
.banner-text h3 {
  color: #FFFFFF; /* Ensuring text is white */
  margin-bottom: 20px; /* Keep or adjust as needed */
  font-family: Roboto, sans-serif; /* Ensure consistency if needed, or remove if not */
  font-size: 2.6vw;
}

.main-content {
  width: 80%;
  margin: 20px 0 20px 5%;
  text-align: left;
}



/* Set a maximum font size for really large screens */
@media (min-width: 1200px) {
  .banner-text {
    font-size: 14px; /* Fixed size for large screens */
  }
  .banner-text h1,
  .banner-text h2,
  .banner-text h3 {
    font-size: 2.8em; /* Scales relative to the parent font size */
  }
}
